ul {
    list-style: none;
}

.nav-bar-1 {
    float: left;
}
.nav-bar-2 {
    float: right;
}

.left-nav-links {
    text-align: left;
    font-family: Arial, sans-serif;
    color: gray;
}
.right-nav-links {
    text-align: right;
    font-family: Arial, sans-serif;
    color: gray;
    margin-right: 15px;
}
.google #google-logo {
    background: white;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 109px;
    padding-bottom: 20px;
}
.search-form {
    text-align: center;
}

.submit-button {
    background-color: gray;
    border-radius: 10px;
    margin-right: 15px;
}
.gray-footer {
        position: absolute;
        bottom: 10px;
        width: 50%;
}
.left-footer-links {
    float: left;
    font-family: Arial, sans-serif;
    color: gray;
}
.right-footer-links {
    float: right;
    font-family: Arial, sans-serif;
    color: gray;
    margin-right: -650px;
}

#about {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#store {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#gmail {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;

}
#images {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#app-icon {
    display: inline-block;
    padding-left: 15px;
    font-size: 13px;
}
#notification {
    display: inline-block;
    padding-left: 15px;
    font-size: 13px;
}
#sign-in {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#form-bar {
    width: 584px;
    height: 40px;
    left: 10px;
    display: inline-block;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#advertising {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#business {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#privacy {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#terms {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}
#settings {
    display: inline-block;
    padding-left: 15px;
    opacity: 0.75;
    font-size: 13px;
}